{% extends 'base.html.twig' %}

{% block title %}Aktualizacja danych{% endblock %}

{% block body %}
<section class="jumbotron">
    <p>Liczba elementów w kolejce: {{ queueCount }}</p>
    <p>Elementy kolejki mogą dodawać nowe zapytania (np. sprawdzenie zespołu doda do kolejki sprawdzenie graczy).</p>
    <form action="" method="post">
        {%  for league in leagues %}
            <div>
                <label>
                    <input type="checkbox" name="addLeagueToQueue[]" {% if league.isMarked %}checked{% endif %} value="{{ league.id }}">
                    <span>{{ league.name }}</span>
                </label>
            </div>
        {% endfor %}
        <div class="submit_flying">
            <input type="submit" value="Skanuj!" class="btn btn-success">
        </div>
    </form>
</section>
{% endblock %}
